/*Styles*/


.chess_rating {
  font-weight: bold;
}

  #spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-out, visibility 0s linear .3s;
    z-index: 99999;
  }

  #spinner.show {
    transition: opacity .3s ease-out, visibility 0s linear 0s;
    visibility: hidden;
    opacity: 1;
  }
  
  .table-responsive::-webkit-scrollbar {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  .table-responsive::-webkit-scrollbar:vertical {
    width: 12px;
  } 
  
  .table-responsive::-webkit-scrollbar:horizontal {
    height: 12px;
  }
  
  .table-responsive::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 1px solid #ffffff;
  }
  
  .table-responsive::-webkit-scrollbar-track {
    height: 15px;
    border-radius: 5px;
    background-color: #ffffff;
  }
  
  @media(max-width: 400px) {
    .carousel-button1 {
      padding-left: 1.5rem;
    }
  
    .carousel-button2 {
      padding-right: 1.5rem;
    }
  }
